extends layout.pug 

block content
    main.container
        h1.text-center= title 

        div.sub-menu
            a.add-button(href="add") Agregar dispositivo

        ul.measurments-list
            if measurments.length === 0
                li 
                     b.text-center Measurments register empty
            else
                each element in measurments
                    li.measurment-list
                        a(href=`/edit/${element.id}`) #{element.identificador} #{element.variable} #{element.valor}

                        
                        a.delete-btn(href=`/delete/${element.id}`) Eliminar lectura